* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dde1e7;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 30px;
  width: 350px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
}

.signUpContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 30px;
  width: 350px;
  height: 500px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
}

.loginTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  font-size: 30px;
  font-weight: bold;
}

.loginForm {
  width: 100%;
  height: 80%;
}

.loginInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.loginInput > input {
  width: 250px;
  height: 40px;
  font-size: 17px;
  outline: none;
  border: none;
}

.loginInput > input[type="email"],
.loginInput > input[type="text"],
.loginInput > input[type="password"] {
  padding-left: 10px;
  border-bottom: 1px solid #3498db;
}

.loginInput > input[type="text"] {
  margin-top: 15px;
}

.loginInput > input[type="password"] {
  margin: 15px 0;
}

.loginInput > input[type="submit"] {
  background-color: #369cf4;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.loginInput > input[type="submit"]:hover {
  background-color: #0d64b1;
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.signUp > a {
  margin-left: 15px;
  text-decoration: none;
  color: #3498db;
}

.signUp > a:hover {
  text-decoration: underline;
}
